# Default values for sftd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# The amount of SFT instances to run.  NOTE: Only one SFT can run per node due
# to `hostNetwork`. If this number is higher than the amount of nodes that can
# be used for scheduling (Also see `nodeSelector`) pods will remain in a
# pending state untill you add more capacit.
replicaCount: 1

image:
  repository: quay.io/wire/sftd
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

config:
  ingressClass: "nginx"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

metrics:
  serviceMonitor:
    enabled: false

# The time to wait after terminating an sft node before shutting it down. No
# new calls will be initiated whilst a pod is being terminated.
terminationGracePeriodSeconds: 10

podAnnotations: {}

podSecurityContext:
  fsGroup: 31337

securityContext:
  # Pick a high number that is unlikely to conflict with the host
  # https://kubesec.io/basics/containers-securitycontext-runasuser/
  runAsUser: 31337
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# If you have multiple deployments of sftd running in one cluster, it is
# important that they run on disjoint sets of nodes, you can use nodeSelector to enforce this
nodeSelector: {}

tolerations: []

affinity: {}

# allowOrigin:  https://webapp.wire.example
# host:
tls: {}
  # {key,crt} and issuerRef are mutally exclusive
  # key:
  # crt:
  # issuerRef:
    # The name of the issuer (e.g. letsencrypr-prod)
    # name: ca-issuer
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
    # kind: Issuer
    # This is optional since cert-manager will default to this value however
    # if you are using an external issuer, change this to that issuer group.
    # group: cert-manager.io

joinCall:
  replicaCount: 3
  image:
    repository: docker.io/bitnami/nginx
    pullPolicy: IfNotPresent
    tag: "1.27.3-debian-12-r5@sha256:c02e18884badbd9482fd731668f75a3033124c748bc709651fb06062d0ab38c1"

# Allow SFT instances to choose/consider using a TURN server for themselves as a proxy when
# trying to establish a connection to clients
# DOCS: https://docs.wire.com/understand/sft.html#prerequisites
turnDiscoveryEnabled: false

# Allow establishing calls involving remote SFT servers (e.g. for Federation)
# Requires appVersion 3.0.9 or later
multiSFT:
  enabled: false
  # For sftd versions up to 3.1.3, sftd uses the TURN servers advertised at a
  # discovery URL.
  turnDiscoveryURL: ""
  # For sftd versions 3.1.10 and later, this discovery process is no longer
  # required or supported, and must be disabled. sftd must instead be directly
  # configured with the authentication secret used by the TURN server and the
  # URI for the TURN server.
  discoveryRequired: true
  secret:
  turnServerURI:

# This is the secret used for authentication when the multiSFT feature is disabled
# Do not use this when multiSFT is enabled, and instead use the `multiSFT.secret` field
sftTokenSecret: # "my_secret_string"

coredumps:
  enabled: false
  # storageClassName: my-storage-class
  storageSize: 10Gi

# Arguments to be appended to sftd's command line arguments. This is a plain
# string. Use it for development; established arguments should get their own
# fields/options.
additionalCmdArgs: ""
